DB_CONNECTION_URL = 
PORT = 3000
MOOD = dev
SALT = 10
JWT_KEY = route
JWT_USER_SIGNATURE = UserRoute
JWT_ADMIN_SIGNATURE = AdminRoute
JWT_ADMIN_REFRESH_SIGNATURE = AdminRefreshRoute
JWT_USER_REFRESH_SIGNATURE = UserRefreshRoute
BASE_URL = http://localhost:3000
REDIS_URL = 
EMAIL_PASS = 
EMAIL_SENDER = 