DB_CONNECTION_URL = 
PORT = 
MOOD = 
SALT = 
JWT_KEY = 
JWT_USER_SIGNATURE = 
JWT_ADMIN_SIGNATURE = 
JWT_ADMIN_REFRESH_SIGNATURE = 
JWT_USER_REFRESH_SIGNATURE = 
BASE_URL =
REDIS_URL = 
EMAIL_PASS = 
EMAIL_SENDER = 